<template>
	<div class="popup">
		<div class="org-logo flex p-2 lg:p-8 lg:h-48 justify-center items-center">
			<img class="min-w-full rounded-none" src="/logo_ipsum/logoipsum-logo-25.svg" alt="" />
		</div>
		<div class="hidden lg:block">
			<hr />
			<div class="p-8">
				<h4>This is the backend</h4>
				<p>Here can be infos, menus, etc..</p>
				<!--			<p><nuxt-link :to="localePath({ name: 'organisations-slug-info' })" class="arrow-link">Click here to win $1'000'000</nuxt-link></p>-->
			</div>
			<hr />
			<div class="p-8">
				<p>user: <span v-html="user.name"/></p>
				<p>organisation: <span v-html="user.org.name" /></p>
				<p>
					<nuxt-link
						:to="localePath({ name: `organisations-slug`, params: { slug: user.org.slug } })"
						v-html="`Ranking`"
						class="arrow-link"
					/>
				</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "accountSidebar",
	props: {
		user: {
			type: Object,
			required: true,
		}
	}
};
</script>

<style></style>
