<template>
	<nav class="flex flex-row mb-4">
		<ol>
			<li
				class="lg:inline-block text-lg leading-relaxed"
				v-for="(navItem, navItemIndex) in navItems"
				:key="`${navItem.name}-${navItemIndex}`"
			>
				<nuxt-link
					:to="localePath(`account${navItem.slug}`)"
					v-html="$t(navItem.name)"
					class="p-2"
				/>
			</li>
		</ol>
	</nav>
</template>

<script>
export default {
	name: "account-menu",
	data() {
		return {
			orgaName: "Name of the Organisation",
			navItems: [
				{
					name: "overview",
					slug: "",
				},
				{
					name: "rate",
					slug: "-rate",
				},
				{
					name: "preferences",
					slug: "-preferences",
				},
				{
					name: "settings",
					slug: "-settings",
				},
			],
		};
	},
};
</script>

<style></style>
