<template>
	<div>
		<h2 v-html="$t('preferences')" />
		<PreferencesList
			:organisationId="organisationId"
			:preferencesDetails="preferencesDetails"
			showPreferenceControls
		/>
	</div>
</template>

<script>
import PreferencesList from "~/components/preferences/PreferencesList"
export default {
	name: "account-preferences",
	components: {
		PreferencesList,
	},
	middleware: "auth",
	async asyncData({ store }) {
		if (!store.state.init) await store.dispatch("init");
		const organisationId = store.state.auth.user.orgId;
		await store.dispatch("preferences/fetchPreferencesDetails", { organisationId });
		const preferencesDetails = store.getters["preferences/getPreferencesDetails"](organisationId);
		return {
			organisationId,
			preferencesDetails,
		}
	},
	nuxtI18n: {
		paths: {
			en: "/account/preferences",
			de: "/account/praeferenzen",
			fr: "/account/preferences",
			it: "/account/preferenze",
		},
	},
	head() {
		return {
			title: `${this.$t('preferences')} – ${this.$t('account')} – VoteLog`,
		};
	},
};
</script>

<style lang="sass" scoped></style>
