<template>
	<Content :content="page" />
</template>

<script>
import Content from "~/components/Content"

export default {
	name: "privacy-index",
	props: {
		Content,
	},
	async asyncData({ store, route, $md }) {
		await store.dispatch("content/fetchContentByKeys", {
			path: route.path,
			keys: ["privacy"],
		})
		const content = store.getters["content/getContent"](route.path);
		if (content) {
			return {
				page: $md.render(content)
			}
		}
	},
	head() {
		return {
			title: `${this.$t(`privacy`)} – VoteLog`,
		}
	},
	nuxtI18n: {
		paths: {
			en: "/privacy",
			de: "/datenschutz",
			fr: "/protection-des-donnees",
			it: "/protezione-dei-dati",
		},
	},
}
</script>

<style lang="sass" scoped></style>
