<template>
	<div class="item" :class="$store.state.parliamentarianGridView ? 'grid-view' : 'list-view'">
		<div class="image">
			<img class="rounded" :src="imgURL" :alt="name" />
		</div>
		<div class="info">
			<section class="name">
				<h3 v-html="name" />
				<div><slot name="tags" /></div>
			</section>
		</div>
	</div>
</template>

<script>
import Bar from "../Bar.vue";
import Tag from "../Tag.vue";
export default {
	components: { Bar, Tag },
	name: "parliamentarian-list-item",
	props: {
		name: {
			type: String,
			required: true,
		},
		imgId: {
			type: Number,
			required: false,
		},
	},
	computed: {
		imgURL() {
			return this.imgId
				? `https://www.parlament.ch/sitecollectionimages/profil/portrait-260/${this.imgId}.jpg`
				: `https://picsum.photos/250`;
		},
	},
};
</script>

<style lang="sass" scoped>
.item
	@apply p-2 lg:p-4
	&.list-view
		@apply grid gap-x-4 grid-flow-col justify-start
		.image
			@apply h-16
</style>
