<template>
	<div>
		<div
			:class="
				view === 'list'
					? ''
					: 'grid gap-2 lg:gap-4 grid-cols-3 lg:grid-cols-4 xl:grid-cols-5'
			"
		>
			<nuxt-link
				v-for="parliamentarian in list"
				:key="parliamentarian['id']"
				:to="
					localePath({
						name: 'parliamentarian-slug',
						params: { slug: parliamentarian.id },
					})
				"
				class="block hover:bg-gray-lightest dark:hover:bg-gray-dark"
				v-show="showEntry(parliamentarian)"
			>
				<ListItem>
					<template v-slot:image>
						<img
							:src="`https://www.parlament.ch/sitecollectionimages/profil/portrait-260/${parliamentarian.image}.jpg`"
							alt=""
						/>
					</template>
					<template v-slot:content>
						<h3
							v-html="
								`${parliamentarian.firstName} ${parliamentarian.lastName}`
							"
						/>
					</template>
					<template v-slot:tags>
						<Tag :text="parliamentarian.canton" />
						<Tag :text="$store.getters.getPartyAbbreviation(parliamentarian.party)" />
					</template>
				</ListItem>
			</nuxt-link>
		</div>
	</div>
</template>

<script>
import ListItem from "~/components/list/ListItem"

export default {
	name: "parliamentarian-list",
	components: {
		ListItem
	},
	props: {
		list: {
			type: Array,
		},
		view: {
			type: String, // "list", "grid"
			default: "grid",
		},
	},
	methods: {
		showEntry(parliamentarian) {
			return this.$store.getters["filters/showEntry"](
				"parliamentarians",
				parliamentarian
			);
		},
	},
};
</script>
