<template>
	<div class="grid grid-flow-row 2xl:grid-flow-col gap-2 pb-4 lg:pt-8 border-b border-gray-default">
		<div class="flex flex-row">
			<input type="search" placeholder="Suche.." v-model="searchModel" />
			<button class="w-20">
				<img class="h-6 filter invert" src="/icons/magnifying-glass.svg" alt="" />
				<!-- <icon class="fa-lg" icon="fal fa-search" /> -->
			</button>
		</div>
		<!-- <SearchInput :model="searchModel" class="row-start-1" /> -->
		<div class="grid lg:grid-flow-col col-span-3 gap-2">
			<ButtonMenu
				:title="`Kantone`"
				:list="$store.state.cantons"
				:list-active="$store.state.filters['parliamentarians'].filters.canton"
				:list-element-callback="filterCanton"
			/>
			<ButtonMenu
				:title="$t('parties')"
				:list="$store.state.parties"
				:list-active="$store.state.filters.parliamentarians.filters.party"
				:list-element-callback="filterParty"
				:list-element-title-property="`abbreviation`"
				:list-element-comparison-property="`id`"
			/>
			<ButtonMenu
				:title="$t('factions')"
				:list="$store.state.factions"
				:list-active="$store.state.filters.parliamentarians.filters.faction"
				:list-element-callback="filterFaction"
				:list-element-title-property="`name`"
				:list-element-comparison-property="`id`"
			/>
		</div>
		<div class="row-start-1">
			<ButtonToggle class="h-full">
				<button
					@click="orderByDesc(true)"
					:class="{
						active: $store.state.orderByDesc.parliamentarians,
					}"
				>
					<img class="icon h-6" src="/icons/arrow-down-a-z.svg" alt="" />
					<!-- <icon class="fa-lg" icon="fal fa-arrow-down-a-z" /> -->
				</button>
				<button
					@click="orderByDesc(false)"
					:class="{
						active: !$store.state.orderByDesc.parliamentarians,
					}"
				>
					<img class="icon h-6" src="/icons/arrow-up-z-a.svg" alt="" />
					<!-- <icon class="fa-lg" icon="fal fa-arrow-up-z-a" /> -->
				</button>
			</ButtonToggle>
		</div>
		<Button
			type="button"
			v-show="$store.getters['filters/showReset']('parliamentarians')"
			v-html="`reset`"
			@click="$store.commit('filters/RESET', 'parliamentarians')"
		/>
	</div>
</template>

<script>
import ButtonMenu from "~/components/ButtonMenu";

export default {
	name: "parliamentarian-list-filter",
	components: {
		ButtonMenu,
	},
	props: {
		filters: {
			type: Object,
		},
	},
	computed: {
		searchModel: {
			get() {
				return this.$store.state.filters.parliamentarians.searchQuery;
			},
			set(value) {
				this.$store.commit("filters/SET_SEARCH_QUERY", {
					view: "parliamentarians",
					res: value,
				});
			},
		},
	},
	data() {
		return { filterToggled: false };
	},
	methods: {
		toggleFilter() {
			this.filterToggled = !this.filterToggled;
		},
		filterParty(element) {
			this.$store.commit("filters/TOGGLE_FILTER", {
				view: "parliamentarians",
				type: "party",
				element: element.id,
			});
		},
		filterFaction(element) {
			this.$store.commit("filters/TOGGLE_FILTER", {
				view: "parliamentarians",
				type: "faction",
				element: element.id,
			});
		},
		filterCanton(element) {
			this.$store.commit("filters/TOGGLE_FILTER", {
				view: "parliamentarians",
				type: "canton",
				element: element,
			});
		},
		orderByDesc(direction) {
			this.$store.commit("SET_PARLIAMENTARIANS_ORDER_BY_DESC", direction);
		},
		toggleView() {
			this.$store.commit("TOGGLE_PARLIAMENTARIAN_GRID_VIEW");
		},
	},
};
</script>
