<template>
	<div class="">
		<ParliamentarianProfileSidebar
			class="lg:sticky top-0 bg-white dark:bg-gray-darkest z-50"
			:data="parliamentarian"
		/>
		<div class="lg:col-span-2">
			<RankingList
				:list="rankingList"
				:title="getTitle"
				:tags="getTags"
				:desc="descString"
				:imgUrl="getImgUrl"
				:to="getTo"
				:showFilter="false"
			/>
		</div>
	</div>
</template>

<script>
import ParliamentarianProfileSidebar from "~/components/parliamentarian/ParliamentarianProfileSidebar.vue";
import Tag from "~/components/Tag.vue";
import RankingList from "~/components/ranking/RankingList";

export default {
	name: "parliamentarian-slug",
	components: {
		ParliamentarianProfileSidebar,
		Tag,
		RankingList,
	},
	async asyncData({ params, store }) {
		if (!store.state.init) await store.dispatch("init");
		await store.dispatch("organisations/fetchOrganisations");
		await store.dispatch("fetchParliamentarianDetails", params.slug);
		return {
			parliamentarian: store.getters.getParliamentarianDetailed(params.slug),
		};
	},
	methods: {
		getTitle(ranking) {
			const organisation = this.$store.getters["organisations/getOrganisationById"](ranking.organisation);
			return organisation ? organisation.name : `name not found`;
		},
		getTags(ranking) {
			// TODO: Implement Topics of organisation
			return [];
		},
		descString(ranking) {
			const organisation = this.$store.getters["organisations/getOrganisationById"](ranking.organisation);
			return this.$store.getters["rankings/getRankingDescOrgParliamentarian"](
				ranking,
				this.parliamentarianName,
				organisation.name,
				this.$i18n.locale
			);
		},
		getImgUrl(e) {
			// TODO: Implement image of organisation
			return `/ngo-logo-placeholder.png`;
		},
		getTo(ranking) {
			const organisation = this.$store.getters["organisations/getOrganisationById"](ranking.organisation);
			return this.localePath({
				name: `organisations-slug`,
				params: { slug: organisation.slug },
			});
		},
	},
	computed: {
		parliamentarianName() {
			return `${this.parliamentarian.firstName} ${this.parliamentarian.lastName}`;
		},
		rankingList() {
			return this.parliamentarian.ranking;
		},
	},
	nuxtI18n: {
		paths: {
			en: "/parliamentarian/:slug",
			de: "/parlamentarier_innen/:slug",
			fr: "/membre-du-parlement/:slug",
			it: "/parlamentare/:slug",
		},
	},
	head() {
		return {
			title: `${this.parliamentarianName} – ${this.$t(`parliamentarian`)} – VoteLog`,
		};
	},
};
</script>
