<template>
	<div>
		<h1 v-html="$t(`parliamentarians`)" />
		<ParliamentarianListFilter
			class="sticky top-20 lg:top-0 mb-4 bg-white dark:bg-gray-darkest z-40"
		/>
		<ParliamentarianList :list="$store.state.parliamentarians" />
	</div>
</template>

<script>
import ButtonMenu from "~/components/ButtonMenu";
import ParliamentarianList from "~/components/parliamentarian/ParliamentarianList.vue";
import ParliamentarianListFilter from "~/components/parliamentarian/ParliamentarianListFilter.vue";

export default {
	name: "parliamentarian-index",
	components: {
		ButtonMenu,
		ParliamentarianList,
		ParliamentarianListFilter,
	},
	async asyncData({ $axios, app, store }) {
		if (!store.state.init) await store.dispatch("init");
	},
	nuxtI18n: {
		paths: {
			en: "/parliamentarian",
			de: "/parlamentarier_innen",
			fr: "/membre-du-parlement",
			it: "/parlamentare",
		},
	},
	head() {
		return {
			title: this.$t(`parliamentarian`),
		};
	},
};
</script>

<style lang="sass" scoped></style>
