<template>
	<div>
		<div
			class="grid grid-cols-2 gap-1 p-2 items-center shadow-inner rounded border border-gray-light dark:border-gray-default"
		>
			<span
				class="negative bg-secondary justify-self-end rounded-l-sm text-right pr-1"
				:style="{ width: `${100 - data.percentage}%` }"
				v-html="`${Math.round(100 - data.percentage)}%`"
			/>
			<span
				class="positive bg-primary justify-self-start rounded-r-sm pl-1"
				:style="{ width: `${data.percentage}%` }"
				v-html="`${Math.round(data.percentage)}%`"
			/>
		</div>
		<p class="desc-string text-base" v-html="descString" />
	</div>
</template>

<script>
export default {
	name: "bar",
	props: {
		data: {
			type: Object,
		},
		desc: {
			type: Function,
			required: true,
		},
	},
	computed: {
		descString() {
			return this.desc(this.data);
		},
	},
};
</script>

<style lang="sass" scoped>
span
	@apply block h-6 font-bold text-white
</style>
