<template>
	<div @mouseleave="open = false" class="relative">
		<button
			class="dark w-full"
			type="button"
			@click="toggleMenu"
			v-html="buttonTitle"
		/>
		<transition name="openList">
			<form
				method="post"
				v-show="open"
				class="options"
			>
				<Checkbox
					v-for="(item, index) in list"
					:key="`${title}-${index}`"
					:data="_getString(item)"
					@checkToggle="toggleListElement(item)"
				/>
			</form>
		</transition>
	</div>
</template>

<script>
export default {
	name: "ButtonMenu",
	props: {
		title: {
			type: String,
			required: true,
		},
		list: {
			type: Array,
			required: true,
		},
		listActive: {
			type: Array,
			required: true,
		},
		listElementTitleProperty: {
			type: String,
			required: false,
		},
		listElementComparisonProperty: {
			type: String,
			required: false,
		},
		listElementCallback: {
			type: Function,
			required: true,
		},
	},
	data() {
		return {
			open: false,
		};
	},
	computed: {
		buttonTitle() {
			if (this.listActive.length === 0) {
				return this.title;
			} else {
				return `${this.title} (${this.listActive.length})`;
			}
		}
	},
	methods: {
		_getString(i) {
			return this.listElementTitleProperty
				? i[this.listElementTitleProperty]
				: i;
		},
		toggleMenu() {
			this.open = !this.open;
			if (this.open) this.closeOutside();
		},
		isActive(i) {
			return this.listActive.find((e) => {
				if (this.listElementComparisonProperty) {
					return e === i[this.listElementComparisonProperty];
				} else {
					return e === i;
				}
			});
		},
		toggleListElement(element) {
			this.listElementCallback(element);
		},
		closeOutside(e) {
			// close if clicked outside
		},
	},
};
</script>

<style lang="sass" scoped>
.options
	@apply absolute z-40 flex flex-row flex-wrap gap-1 p-4 border border-gray-light bg-white rounded shadow-md lg:w-96 dark:bg-gray-dark dark:border-gray-default
</style>
