<template>
	<div>
		<address class="leading-relaxed">
			<span class="font-bold">Verein Votelog<br /> </span>
			c/o Fernando Obieta <br />
			Bahnstrasse 23 <br />
			8400 Winterthur
		</address>
	</div>
</template>

<script>
export default {
	name: 'contact',
}
</script>

<style lang="sass" scoped></style>
