<template>
	<div>
		<nuxt-link
			v-for="locale in $i18n.locales"
			:key="locale.code"
			:to="switchLocalePath(locale.code)"
			class="p-1 uppercase"
			v-html="locale.code"
		/>
	</div>
</template>

<script>
export default { name: "language-selector" };
</script>

<style lang="sass" scoped>
.nuxt-link-active
	@apply text-primary font-bold
</style>
