<template>
	<nuxt-link class="logo block" :to="localePath('index')">
		<img src="/logo.svg" title="Votelog Logo" alt="black squared background with white Votelog type" />
	</nuxt-link>
</template>

<script>
export default {
	name: 'logo',
}
</script>
