<template>
	<section id="account-info-banner">
		<div>
			<h1 v-html="orgaName" />
			<div class="sub-nav">
				<nuxt-link
					v-for="(navItem, navItemIndex) in navItems"
					:key="`${navItem.name}-${navItemIndex}`"
					:to="localePath(`account${navItem.slug}`)"
					v-html="$t(navItem.name)"
				/>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: "account-info-banner",
	data() {
		return {
			orgaName: "Name of the Organisation",
			navItems: [
				{
					name: "overview",
					slug: "",
				},
				{
					name: "rate",
					slug: "-rate",
				},
				{
					name: "votes",
					slug: "-votes",
				},
				{
					name: "settings",
					slug: "-settings",
				},
			],
		};
	},
};
</script>

<style lang="sass" scoped>
.account-info-banner
	@apply flex h-48 border-b items-center
.sub-nav a
	margin-right: .5rem
	text-transform: uppercase
	&.nuxt-link-exact-active,
	&:not(:first-child).nuxt-link-active
		font-weight: bold
</style>
