<template>
	<span
		class="inline-block text-xs font-bold bg-gray-default text-white mr-1 px-1 lg:px-2 lg:py-0.5 rounded-sm"
		v-html="`${text}`"
	/>
</template>

<script>
export default {
	name: "tag",
	props: {
		text: { type: String },
	},
};
</script>

<style lang="sass" scoped>
span
	@apply whitespace-nowrap
	text-transform: capitalize
</style>
