<template>
	<div
		class="grid grid-cols-4 items-center gap-x-4 lg:gap-x-8 border-b border-gray-light py-2 lg:py-4 hover:bg-gray-lightest dark:hover:bg-gray-dark"
	>
		<div class="justify-self-center">
			<!-- TODO: Implement image of organisation -->
			<img src="/ngo-logo-placeholder.png" alt="" class="max-h-32 rounded" />
		</div>
		<div class="col-span-3">
			<!-- Some space left on desktop. Add extra ngo-data? (Members, Founding Year, Tags?) -->
			<h3 v-html="title" class="truncate" />
			<p class="truncate leading-none m-0">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos vero dolorem commodi magnam fugit eius ex,
				aperiam iste, unde possimus blanditiis delectus harum sunt non veniam qui eligendi impedit modi?
			</p>
		</div>
	</div>
</template>

<script>
export default {
	name: "organisation-list-element",
	props: {
		title: { type: String },
	},
};
</script>
