<template>
	<div class="grid grid-flow-row md:grid-flow-col gap-2 pb-4 lg:pt-8 border-b border-gray-default">
		<SearchInput />
		<select name="" id="" v-model="activeTopic">
			<option v-for="(t, i) in topicsList" :value="i" :key="i" v-html="`${t.name} (0)`" />
		</select>
		<ButtonToggle>
			<button :class="{ active: $store.state.orderByDesc.organisations }" @click="orderBy(true)">
				<img class="icon h-6" src="/icons/arrow-down-a-z.svg" alt="" />
				<!-- <icon class="fa-lg" icon="fal fa-arrow-down-a-z" /> -->
			</button>
			<button :class="{ active: !$store.state.orderByDesc.organisations }" @click="orderBy(false)">
				<img class="icon h-6" src="/icons/arrow-up-z-a.svg" alt="" />
				<!-- <icon class="fa-lg" icon="fal fa-arrow-up-z-a" /> -->
			</button>
		</ButtonToggle>
	</div>
</template>

<script>
export default {
	name: "organisation-list-filter",
	data() {
		return {
			activeTopic: 0,
			topics: [
				{
					id: 0,
					name: "Beschäftigung und Arbeit",
				},
				{
					id: 1,
					name: "Bildung",
				},
				{
					id: 2,
					name: "Energie",
				},
				{
					id: 3,
					name: "Europapolitik",
				},
				{
					id: 4,
					name: "Finanzwesen",
				},
				{
					id: 5,
					name: "Gerichtswesen",
				},
				{
					id: 6,
					name: "Gesundheit",
				},
				{
					id: 7,
					name: "Internationale Politik",
				},
				{
					id: 8,
					name: "Internationales Recht",
				},
				{
					id: 9,
					name: "Kultur",
				},
				{
					id: 10,
					name: "Landwirtschaft",
				},
				{
					id: 11,
					name: "Medien und Kommunikation",
				},
				{
					id: 12,
					name: "Menschenrechte",
				},
				{
					id: 13,
					name: "Migration",
				},
				{
					id: 14,
					name: "Parlament",
				},
				{
					id: 15,
					name: "Raumplanung und Wohnungswesen",
				},
				{
					id: 16,
					name: "Recht Allgemein",
				},
				{
					id: 17,
					name: "Sicherheitspolitik",
				},
				{
					id: 18,
					name: "Soziale Fragen",
				},
				{
					id: 19,
					name: "Sozialer Schutz",
				},
				{
					id: 20,
					name: "Staatspolitik",
				},
				{
					id: 21,
					name: "Steuer",
				},
				{
					id: 22,
					name: "Strafrecht",
				},
				{
					id: 23,
					name: "Umwelt",
				},
				{
					id: 24,
					name: "Verkehr",
				},
				{
					id: 25,
					name: "Wirtschaft",
				},
				{
					id: 26,
					name: "Wissenschaft und Forschung",
				},
				{
					id: 27,
					name: "Zivilrecht",
				},
			],
		};
	},
	computed: {
		topicsList() {
			return [
				{
					id: -1,
					name: `All`,
				},
				...this.topics,
			];
		},
	},
	methods: {
		orderBy(direction) {
			this.$store.commit("SET_ORGANISATIONS_ORDER_BY_DESC", direction);
		},
	},
};
</script>
