<template>
	<div>
		<div class="grid grid-cols-4 gap-8 border-b border-gray-default pb-4 items-center">
			<nuxt-link :to="localePath({ name: 'organisations-slug' })">
				<img class="max-h-32 rounded-none" src="/ngo-logo-placeholder.png" :alt="organisation.name" />
			</nuxt-link>
			<div class="col-span-3">
				<h1 v-html="organisation.name" class="m-0" />
				<p v-html="preferencesCountString" />
			</div>
		</div>
		<div class="grid lg:grid-flow-col grid-flow-row justify-start gap-4 text-xl mb-8 pt-4 font-medium">
			<nuxt-link
				v-for="rankingView in rankingViews"
				:key="rankingView.name"
				:to="
					localePath({
						name: `${rankingViewName}${rankingView.path}`,
					})
				"
				v-html="$t(rankingView.name)"
			/>
			<nuxt-link
				:to="
					localePath({
						name: 'organisations-slug-preferences',
					})
				"
				v-html="$t('preferences')"
			/>
			<nuxt-link :to="localePath({ name: 'organisations-slug-info' })" v-html="$t('about')" />
		</div>
	</div>
</template>

<script>
export default {
	name: "organisation-profile-sidebar",
	props: {
		organisation: {
			type: Object,
			required: true,
		},
		ranking: {
			type: Object,
			required: true,
		},
	},
	computed: {
		preferencesCountString() {
			return this.$store.getters["rankings/getRankingDescOrg"](this.ranking, this.$i18n.locale);
		},
	},
	data() {
		return {
			rankingViewName: "organisations-slug",
			rankingViews: [
				{
					name: "parliamentarians",
					path: "",
				},
				{
					name: "parties",
					path: "-parties",
				},
				{
					name: "factions",
					path: "-factions",
				},
			],
		};
	},
};
</script>

<style lang="sass" scoped>
.org-views
	a
		display: block
		&.nuxt-link-exact-active
			font-weight: bold
</style>
