<template>
	<div>
		<nuxt-link
			v-for="org in organisations"
			:key="org.id"
			:to="
				localePath({
					name: `organisations-slug`,
					params: { slug: org.slug }
				})
			"
			class="block"
		>
			<!--		<nuxt-link-->
			<!--			v-for="org in orgasByTopic(active)"-->
			<!--			:key="org.id"-->
			<!--			:to="localePath({ name: `organisations-slug`, params: { slug: org.slug } })"-->
			<!--			class="block hover:bg-gray-lightest"-->
			<!--		>-->
			<OrganisationListItem :title="org.name" />
		</nuxt-link>
	</div>
</template>

<script>
import OrganisationListItem from "./OrganisationListItem.vue";
import OrganisationListFilter from "./OrganisationListFilter.vue";
export default {
	components: { OrganisationListItem, OrganisationListFilter },
	name: "organisation-list",
	props: {
		active: {
			type: Number,
		},
		organisations: {
			type: Array,
		},
	},
	methods: {
		orgasByTopic(topicId) {
			return topicId === -1
				? this.organisations
				: this.organisations
						.filter((orga) =>
							orga.topics.find((t) => t.id === parseInt(topicId))
						)
						.sort((a, b) =>
							a.topics.find((e) => e.id === topicId).weight >
							b.topics.find((e) => e.id === topicId).weight
								? 1
								: 0
						);
		},
	},
};
</script>

<style lang="sass" scoped></style>
