<template>
	<div class="popup hidden lg:block p-8">
		<ol class="leading-7">
			<li @click="emitTopic(-1)" :class="{ 'font-bold': -1 === activeTopic }" v-html="`Alle`" />
			<hr />
			<li
				@click="emitTopic(topic)"
				v-for="topic in topicsList"
				:key="topic.id"
				:class="{ 'font-bold': topic.id === activeTopic }"
				v-html="`${topic.name} (${topic.count})`"
			/>
		</ol>
	</div>
</template>

<script>
export default {
	name: "organisation-topics-menu",
	props: {
		// topics: {
		// 	type: Array,
		// },
		activeTopic: {
			type: Number,
		},
	},
	methods: {
		emitTopic(topic) {
			if (topic.count > 0) this.$emit("changeTopic", topic.id);
		},
	},
	computed: {
		topicsList() {
			const topicsList = this.topics.map((e) => ({ ...e, count: 0 }));
			// this.organisations.forEach(org => {
			// 	org.topics.forEach(topic => {
			// 		topicsList.find(e => e.id === topic.id).count++
			// 	})
			// })
			return topicsList;
		},
	},
	data() {
		return {
			topics: [
				{
					id: 0,
					name: "Beschäftigung und Arbeit",
				},
				{
					id: 1,
					name: "Bildung",
				},
				{
					id: 2,
					name: "Energie",
				},
				{
					id: 3,
					name: "Europapolitik",
				},
				{
					id: 4,
					name: "Finanzwesen",
				},
				{
					id: 5,
					name: "Gerichtswesen",
				},
				{
					id: 6,
					name: "Gesundheit",
				},
				{
					id: 7,
					name: "Internationale Politik",
				},
				{
					id: 8,
					name: "Internationales Recht",
				},
				{
					id: 9,
					name: "Kultur",
				},
				{
					id: 10,
					name: "Landwirtschaft",
				},
				{
					id: 11,
					name: "Medien und Kommunikation",
				},
				{
					id: 12,
					name: "Menschenrechte",
				},
				{
					id: 13,
					name: "Migration",
				},
				{
					id: 14,
					name: "Parlament",
				},
				{
					id: 15,
					name: "Raumplanung und Wohnungswesen",
				},
				{
					id: 16,
					name: "Recht Allgemein",
				},
				{
					id: 17,
					name: "Sicherheitspolitik",
				},
				{
					id: 18,
					name: "Soziale Fragen",
				},
				{
					id: 19,
					name: "Sozialer Schutz",
				},
				{
					id: 20,
					name: "Staatspolitik",
				},
				{
					id: 21,
					name: "Steuer",
				},
				{
					id: 22,
					name: "Strafrecht",
				},
				{
					id: 23,
					name: "Umwelt",
				},
				{
					id: 24,
					name: "Verkehr",
				},
				{
					id: 25,
					name: "Wirtschaft",
				},
				{
					id: 26,
					name: "Wissenschaft und Forschung",
				},
				{
					id: 27,
					name: "Zivilrecht",
				},
			],
		};
	},
};
</script>
<style lang="sass" scoped>
li:hover
	@apply text-primary cursor-pointer
</style>
