<template>
	<div
		class="grid lg:grid-flow-col lg:auto-cols-min gap-2 items-center border-b border-gray-light pb-4"
	>
		<div class="flex flex-row space-x-2">
			<input
				class="flex flex-1"
				type="text"
				placeholder="Suche.."
				v-model="searchModel"
			/>
			<button @click="toggleFilter" class="w-12 md:hidden dark"></button>
		</div>
		<ButtonMenu
			:title="`Kantone`"
			:list="$store.state.cantons"
			:list-active="$store.state.filters[data].filters.canton"
			:list-element-callback="filterCanton"
		/>
		<ButtonMenu
			:title="$t('parties')"
			:list="$store.state.parties"
			:list-active="$store.state.filters[data].filters.party"
			:list-element-callback="filterParty"
			:list-element-title-property="`abbreviation`"
			:list-element-comparison-property="`id`"
		/>
		<ButtonMenu
			:title="$t('factions')"
			:list="$store.state.factions"
			:list-active="$store.state.filters[data].filters.faction"
			:list-element-callback="filterFaction"
			:list-element-title-property="`name`"
			:list-element-comparison-property="`id`"
		/>

		<ButtonToggle>
			<button class="active">
				<icon class="fa-lg" icon="fal fa-arrow-up-a-z" />
			</button>
			<button><icon class="fa-lg" icon="fal fa-arrow-down-a-z" /></button>
		</ButtonToggle>
		<Button
			type="button"
			v-show="$store.getters['filters/showReset']('parliamentarians')"
			v-html="`reset`"
			@click="$store.commit('filters/RESET', 'parliamentarians')"
		/>
	</div>
</template>

<script>
import ButtonMenu from "~/components/ButtonMenu";

export default {
	name: "list-filter",
	components: {
		ButtonMenu,
	},
	props: {
		data: { type: String },
	},
	computed: {
		searchModel: {
			get() {
				return this.$store.state.filters[this.data].searchQuery;
			},
			set(value) {
				this.$store.commit("filters/SET_SEARCH_QUERY", {
					view: "parliamentarians",
					res: value,
				});
			},
		},
	},
	data() {
		return { filterToggled: false };
	},
	methods: {
		toggleFilter() {
			this.filterToggled = !this.filterToggled;
		},
		filterParty(element) {
			this.$store.commit("filters/TOGGLE_FILTER", {
				view: "parliamentarians",
				type: "party",
				element: element.id,
			});
		},
		filterFaction(element) {
			this.$store.commit("filters/TOGGLE_FILTER", {
				view: "parliamentarians",
				type: "faction",
				element: element.id,
			});
		},
		filterCanton(element) {
			this.$store.commit("filters/TOGGLE_FILTER", {
				view: "parliamentarians",
				type: "canton",
				element: element,
			});
		},
		orderByDesc(direction) {
			this.$store.commit("SET_PARLIAMENTARIANS_ORDER_BY_DESC", direction);
		},
		toggleView() {
			this.$store.commit("TOGGLE_PARLIAMENTARIAN_GRID_VIEW");
		},
	},
};
</script>
