<template>
	<div class="lg:p-4">
		<slot name="image" />
		<slot name="content" />
		<slot name="tags" />
	</div>
</template>

<script>
export default {
	name: "list-item",
};
</script>

<style lang="sass" scoped>
img
	filter: grayscale(.3) brightness(1.1)
	@apply rounded mb-2
</style>
