<template>
	<Content :content="page" />
</template>

<script>
import Content from "~/components/Content"
export default {
	name: "imprint-index",
	components: {
		Content
	},
	async asyncData({ store, route, $md }) {
		await store.dispatch("content/fetchContentByKeys", {
			path: route.path,
			keys: ["imprint"],
		})
		const content = store.getters["content/getContent"](route.path);
		if (content) {
			return {
				page: $md.render(content)
			}
		}
	},
	head() {
		return {
			title: `${this.$t(`imprint`)} – VoteLog`,
		}
	},
	nuxtI18n: {
		paths: {
			en: "/imprint",
			de: "/impressum",
			fr: "/mentions-legales",
			it: "/informazione-legale",
		},
	},
}
</script>
