<template>
	<div>
		<h2 v-html="bill.title" />
		<span v-html="bill['businessId']" />
		<a
			:href="cvURL"
			v-html="`Curia Vista`"
			target="_blank"
			class="cv-link"
		/>
		<ol v-if="votes" class="registrations">
			<Vote
				v-for="(vote, voteNumber) in votes"
				:key="voteNumber"
				:vote="vote"
				:billId="bill.id"
				:businessId="businessId"
				:organisationId="organisationId"
				showPreferenceControls
			/>
		</ol>
		<div v-else>
			<!--<h4 v-html='$t("noVotes")'/>-->
			<h4>no votes in this business</h4>
		</div>
		<slot />
		<br />
	</div>
</template>

<script>
import Vote from "~/components/preferences/Vote"
export default {
	name: "bill",
	props: {
		bill: {
			type: Object,
			required: true,
		},
		businessId: {
			type: Number,
			required: true,
		},
		organisationId: {
			type: String,
			default: "",
		},
	},
	components: {
		Vote
	},
	computed: {
		pathUp() {
			// return this.$route.name.replace("-slug", "");
			return this.$route.name.slice(0, -(this.$route.name.length - this.$route.name.indexOf("-slug")));
		},
		cvURL() {
			return `https://www.parlament.ch/${this.$i18n.locale}/ratsbetrieb/suche-curia-vista/geschaeft?AffairId=${this.bill.businessId}`
		}
	},
	data() {
		return {
			votes: null,
		};
	},
	async fetch() {
		const res = await this.$axios.$get(`/api/v1/bill/${this.bill.id}/votes?lang=${this.$i18n.locale}`);
		if (res)
			this.votes = Object.entries(res).map((e) => {
				const [id, data] = e;
				return {
					id: parseInt(id),
					...data,
				};
			});
	},
};
</script>
