<template>
	<div class="rate">
		<ButtonToggle>
			<button
				v-for="rateOption in rateOptions"
				:class="{ active: currentRating === rateOption }"
				:key="rateOption"
				:title="vote.meaning[rateOption]"
				v-html="$t(rateOption)"
				@click="rate(rateOption)"
			/>
		</ButtonToggle>
		<span
			:class="{ 'opacity-100 cursor-pointer ': currentRating }"
			class="p-2 col-span-2 lg:col-span-1 opacity-30"
			@click="deletePreference()"
			v-html="`clear rating`"
		/>
	</div>
</template>

<script>
export default {
	name: "Rate",
	props: {
		vote: {
			type: Object,
			required: true,
		},
		currentRating: {
			type: String,
		},
		organisationId: {
			type: String,
			required: true,
		},
	},
	methods: {
		async rate(rateValue) {
			await this.$store
				.dispatch("preferences/updatePreference", {
					organisationId: this.organisationId,
					vote: this.vote,
					rateValue,
				})
				.then(() => {
					this.currentRating = rateValue;
				});
		},
		async deletePreference() {
			if (this.currentRating) {
				await this.$store
					.dispatch("preferences/deletePreference", {
						organisationId: this.organisationId,
						vote: this.vote,
					})
					.then(() => {
						this.currentRating = ``;
					});
			}
		},
	},
	computed: {
		rateOptions() {
			return this.$store.state.preferences.preferenceOptions;
		},
	},
};
</script>

<style lang="sass" scoped>
div.alter-preferences
	span
		@apply cursor-pointer
	button
		@apply cursor-pointer
span
	@apply text-xs font-bold
button
	&:first-of-type
		@apply rounded-r-none
	&:last-of-type
		@apply rounded-l-none border-l-0
	cursor: default
</style>
