<template>
	<li class="grid grid-cols-3 gap-12 items-center p-2 lg:p-4 border-b border-gray-light dark:border-gray-default">
		<div class="grid col-span-2 items-center">
			<p v-html="vote.subject" />
			<p class="text-sm">
				<a v-html="`Curia Vista`" :href="cvURL" target="_blank" />
			</p>
		</div>
		<Rate
			v-if="showPreferenceControls"
			class="justify-self-end"
			:vote="combinedVote"
			:currentRating="currentRating"
			:organisationId="organisationId"
		/>
		<PreferenceResult v-else class="justify-self-end" :vote="vote" :currentRating="currentRating" />
	</li>
</template>

<script>
import Rate from "~/components/preferences/Rate";
import PreferenceResult from "~/components/preferences/PreferenceResult";
export default {
	name: "Vote",
	components: {
		Rate,
		PreferenceResult,
	},
	props: {
		showPreferenceControls: {
			default: false,
			type: Boolean,
		},
		organisationId: {
			type: String,
			required: true,
		},
		billId: {
			required: true,
			type: String,
		},
		businessId: {
			required: true,
			type: Number,
		},
		vote: {
			required: true,
			type: Object,
		},
	},
	computed: {
		combinedVote() {
			return {
				...this.vote,
				bill: this.billId,
				business: this.businessId,
			};
		},
		currentRating() {
			return this.$store.getters["preferences/getPreferenceByVoteId"](this.organisationId, this.vote.id);
		},
		cvURL() {
			return `https://www.parlament.ch/poly/Abstimmung/${this.$store.state.lp}/out/vote_${this.$store.state.lp}_${this.vote.registration}.pdf`;
		},
	},
};
</script>
