// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;800&display=swap')
@import 'src/fonts/inter'
@import 'src/type'
@import 'src/forms'

.page-enter-active, .page-leave-active
	transition: all 0.3s ease-in-out

.page-enter
	opacity: 0
	transform: translateY(-.5rem)

.page-leave-to
	opacity: 0
	transform: translateY(.5rem)

::selection
	background-color: rgba(0,0,0,0.999)
	color: white

html
	scroll-behavior: smooth
	hyphens: auto
	@apply text-base

.dark
	body
		@apply bg-gray-darkest text-gray-lightest
		.logo
			@apply filter invert
	a.nuxt-link-exact-active
		@apply text-primaryLight
	::selection
		background-color: rgba(255,255,255,0.999)
		color: black
	img.icon
		filter: invert(1)

a.nuxt-link-exact-active
	@apply text-primary

li.search-result
	em
		background-color: yellow
a.cv-link
	color: orangered
