<template>
	<ol
		class='search-results'
		v-if='searchResults !== null'
	>
		<li
			v-for='item in searchResults'
			:key='item.id'
			class='search-result'
		>
			<nuxt-link :to='path(item)'>
				<p>
					<Tag :text="item.type" />
					<span
						class='title'
						v-html='item.title'
					/>
<!--					<span-->
<!--						class='result-id'-->
<!--						v-html='item.id'-->
<!--					/>-->
					<span
						class='result-desc'
						v-html='item.description'
					/>
				</p>
			</nuxt-link>
		</li>
	</ol>
</template>

<script>
import Tag from "~/components/Tag"

export default {
	name: 'SearchResults',
	components: {
		Tag,
	},
	computed: {
		searchResults() {
			return this.$store.state.search.results;
		}
	},
	methods: {
		path(e) {
			return e.type !== 'parliamentarian'
				? `${this.$route.path}/${e.type}?id=${e.id}`
				: this.localePath({
					name: "parliamentarian-slug",
					params: { slug: e.id }
			});
		}
	}
}
</script>

<style lang='sass' scoped>
ol.search-results
	padding: 2rem 0 0 0
li.search-result
	margin: 0 0 .25rem 0
	padding: 0 0 .25rem 0
	border-bottom: 1px solid lightgray
	.title
		font-weight: bold
</style>
