<template>
	<div class="container px-4">
		<div class="grid lg:grid-cols-3 2xl:grid-cols-4 items-start gap-4 lg:gap-16">
			<Sidebar class="sticky top-0 lg:top-8 py-4 z-40 bg-white dark:bg-gray-darkest" />
			<Nuxt class="lg:col-span-2 2xl:col-span-3 lg:py-32 lg:min-h-screen" />
		</div>
		<Footer />
	</div>
</template>

<script>
import Footer from "~/components/nav/Footer";

export default {
	components: {
		Footer,
	},
	head() {
		return this.$nuxtI18nHead({ addSeoAttributes: true });
	},
};
</script>

<style lang="sass" scoped></style>
