<template>
	<div
		class="grid grid-cols-4 lg:grid-cols-6 gap-x-2 lg:gap-x-8 items-center border-b border-gray-light dark:border-gray-default py-2 lg:py-4"
		:class="{ compact: $store.state.compactView }"
	>
		<div class="image justify-self-center">
			<img :src="img" :alt="name" class="max-h-32 rounded" />
		</div>
		<div class="info">
			<section class="mb-2 grid grid-flow-col gap-4 items-center justify-start">
				<h3 v-html="name" class="m-0" />
				<div>
					<slot name="tags" />
				</div>
			</section>
			<section class="ranking">
				<slot />
			</section>
		</div>
	</div>
</template>

<script>
import Bar from "../Bar.vue";
import Tag from "../Tag.vue";
export default {
	components: { Bar, Tag },
	name: "parliamentarian-list-item",
	props: {
		name: {
			type: String,
			required: true,
		},
		img: {
			type: String,
			required: true,
		},
	},
};
</script>

<style lang="sass" scoped>
img
	filter: grayscale(.3) brightness(1.1)
.info
	@apply col-span-3 lg:col-span-5 grid
	section.name
		@apply grid lg:grid-flow-col lg:gap-4 items-center justify-start
</style>
