<template>
	<div>
		<RankingListFilter v-if="showFilter" class="sticky top-20 lg:top-16 mb-4 bg-white dark:bg-gray-darkest z-40" />
		<nuxt-link
			v-for="entry in list"
			:key="`e${entry.id || entry.organisation}`"
			:to="to(entry)"
			class="block hover:bg-gray-lightest dark:hover:bg-gray-dark"
			v-show="checkShow ? $store.getters['filters/showEntry']('ranking', entry) : true"
		>
			<RankingListItem :name="title(entry)" :img="imgUrl(entry)">
				<template v-slot:tags>
					<Tag v-for="element in tags(entry)" :key="element" :text="element" />
				</template>
				<Bar :data="entry" :desc="desc" />
			</RankingListItem>
		</nuxt-link>
	</div>
</template>

<script>
import RankingListItem from "./RankingListItem.vue";
import RankingListFilter from "./RankingListFilter.vue";

export default {
	name: "ranking-list",
	components: {
		RankingListItem,
		RankingListFilter,
	},
	props: {
		list: {
			type: Array,
			required: true,
		},
		title: {
			type: Function,
			required: true,
		},
		tags: {
			type: Function,
			required: false,
		},
		checkShow: {
			type: Boolean,
			required: false,
			default: true,
		},
		desc: {
			type: Function,
			required: true,
		},
		imgUrl: {
			type: Function,
			required: false,
			default: function (entry) {
				return entry.image;
			},
		},
		to: {
			type: Function,
			required: false,
			default: (e) => ``,
		},
		showFilter: {
			type: Boolean,
			required: false,
			default: true,
		},
	},
};
</script>

<style lang="sass" scoped></style>
