<template>
	<div class="grid grid-flow-row 2xl:grid-flow-col gap-2 pb-4 border-b border-gray-default">
		<SearchInput class="row-start-1" />
		<div class="grid lg:grid-flow-col col-span-3 gap-2">
			<ButtonMenu
				:title="`Kantone`"
				:list="$store.state.cantons"
				:list-active="$store.state.filters.ranking.filters.canton"
				:list-element-callback="filterCanton"
			/>
			<ButtonMenu
				:title="$t('parties')"
				:list="$store.state.parties"
				:list-active="$store.state.filters.ranking.filters.party"
				:list-element-callback="filterParty"
				:list-element-title-property="`abbreviation`"
				:list-element-comparison-property="`id`"
			/>
			<ButtonMenu
				:title="$t('factions')"
				:list="$store.state.factions"
				:list-active="$store.state.filters.ranking.filters.faction"
				:list-element-callback="filterFaction"
				:list-element-title-property="`name`"
				:list-element-comparison-property="`id`"
			/>
		</div>
		<div class="row-start-1">
			<!-- <span class="flex-row hidden lg:flex">
				<button class="px-2" @click="toggleView()">
					{{ $store.state.compactView ? "Classic" : "Compact" }}
				</button>
			</span> -->

			<ButtonToggle>
				<button :class="{ active: $store.state.orderByDesc.ranking }" @click="orderDesc(true)">
					<img class="icon h-6" src="/icons/arrow-down-a-z.svg" alt="" />
					<!-- <icon class="fa-lg" icon="fal fa-arrow-down-a-z" /> -->
				</button>
				<button :class="{ active: !$store.state.orderByDesc.ranking }" @click="orderDesc(false)">
					<img class="icon h-6" src="/icons/arrow-up-z-a.svg" alt="" />
					<!-- <icon class="fa-lg" icon="fal fa-arrow-up-z-a" /> -->
				</button>
			</ButtonToggle>
		</div>
		<button
			type="button"
			v-show="$store.getters['filters/showReset']('ranking')"
			v-html="`reset`"
			class="row-start-1"
			@click="$store.commit('filters/RESET', 'ranking')"
		/>
	</div>
</template>

<script>
import ButtonMenu from "~/components/ButtonMenu";

export default {
	name: "parliamentarian-list-filter",
	components: {
		ButtonMenu,
	},
	data() {
		return { filterToggled: false };
	},
	methods: {
		toggleFilter() {
			this.filterToggled = !this.filterToggled;
		},
		filterParty(element) {
			this.$store.commit("filters/TOGGLE_FILTER", {
				view: "ranking",
				type: "party",
				element: element.id,
			});
		},
		filterFaction(element) {
			this.$store.commit("filters/TOGGLE_FILTER", {
				view: "ranking",
				type: "faction",
				element: element.id,
			});
		},
		filterCanton(element) {
			this.$store.commit("filters/TOGGLE_FILTER", {
				view: "ranking",
				type: "canton",
				element: element,
			});
		},
		orderDesc(direction) {
			this.$store.commit("SET_RANKING_ORDER_BY_DESC", direction);
		},
		toggleView() {
			this.$store.commit("TOGGLE_COMPACT_VIEW");
		},
	},
};
</script>
