<template>
	<div>
		<form @submit.prevent="loginUser" class="login-form popup">
			<h2 class="col-span-full" v-html="`Login`" />
			<label for="useremail" v-html="`E-Mail`" />
			<input
				type="text"
				placeholder="Enter E-Mail/Username"
				name="useremail"
				id="useremail"
				v-model="loginForm.username"
				required
			/>
			<label for="userpw" v-html="`Password`" />
			<input
				type="password"
				placeholder="Enter Password"
				name="userpw"
				id="userpw"
				v-model="loginForm.password"
				@keyup.enter="loginUser"
				required
			/>
			<input @click.prevent="loginUser" type="submit" :value="`Login`" class="dark col-span-full" />
			<div
				id="login-error"
				class="col-span-full"
				v-if="$store.state.auth.errorMessage"
				v-html="$store.state.auth.errorMessage"
			/>
		</form>
	</div>
</template>

<script>
export default {
	name: "login",
	data() {
		return {
			// loginForm: {
			// 	username: "demongo",
			// 	password: "password",
			// },
			loginForm: {
				username: "",
				password: "",
			},
		};
	},
	methods: {
		async loginUser() {
			if (this.loginForm.username && this.loginForm.password) {
				await this.$store.dispatch(`auth/login`, this.loginForm);
			}
		},
	},
	created() {
		this.$store.commit("auth/SET_ERROR_MESSAGE", "");
	},
	head() {
		return {
			title: `${this.$t(`login`)} – VoteLog`,
		};
	},
};
</script>
<style lang="sass" scoped>
.login-form
	@apply lg:w-96 grid grid-cols-3 gap-x-4 p-8 mx-auto items-center
	div#login-error
		color: red
	label
		@apply col-span-3 lg:col-span-1
	input
		@apply col-span-3 lg:col-span-2 my-2
</style>
