<template>
	<div class="flex flex-row">
		<slot />
	</div>
</template>

<script>
export default {
	name: "button-toggle",
};
</script>

<style lang="sass" scoped>
div
	button
		@apply bg-white text-black dark:bg-gray-dark dark:text-white border-r-0 cursor-pointer
		&.active
			@apply bg-black text-white dark:bg-gray-default
			img
				filter: invert(1)
		&:last-child
			@apply border-r
</style>
