<template>
	<fieldset>
		<input
			type="checkbox"
			:name="`check-${data}`"
			:value="data"
			:id="data"
			@change="emitChange()"
		/>
		<label :for="data" v-html="data" />
	</fieldset>
</template>

<script>
export default {
	name: "checkbox",
	props: { data: { required: true } },
	methods: {
		emitChange() {
			this.$emit("checkToggle", this.data);
		},
	},
};
</script>

<style lang="sass" scoped>
label
	@apply py-2 px-3 rounded inline-block cursor-pointer
input[type="checkbox"]
	@apply hidden
input[type="checkbox"]:checked + label
	@apply bg-gray-darkest text-white dark:bg-gray-default
</style>
