<template>
	<div class="flex flex-row">
		<input v-model="query" type="search" placeholder="Suche.." />
		<button class="w-20">
			<img class="h-6 filter invert" src="/icons/magnifying-glass.svg" alt="" />
			<!-- <icon class="fa-lg" icon="fal fa-search" /> -->
		</button>
	</div>
</template>

<script>
export default {
	data() {
		return { query: "" };
	},
	props: {
		model: { required: false },
	},
	computed: {
		propModel: {
			get() {
				return this.prop;
			},
			set(value) {
				this.$emit("update:prop", value);
			},
		},
	},
};
</script>

<style></style>
