<template>
	<div>
		<h2 v-html='$t("rate")' />
		<Search/>
		<SearchResult/>
	</div>
</template>

<script>
import Search from "~/components/search/Search"
import SearchResult from "~/components/search/SearchResult"

export default {
	name: "account-rate",
	middleware: "auth",
	components: {
		Search,
		SearchResult,
	},
	nuxtI18n: {
		paths: {
			en: "/account/rate",
			de: "/account/bewerten",
			fr: "/account/estimer",
			it: "/account/rate",
		},
	},
	head() {
		return {
			title: `${this.$t("rate")} – ${this.$t("account")} – VoteLog`,
		}
	},
}
</script>

<style scoped></style>
