<template>
	<div>
		<nuxt-link
			:to="localePath('login')"
			v-if="!$store.state.auth.loggedIn"
			class="p-1"
		>
			<!-- <icon
				class="fa-xl text-black dark:text-gray-lightest"
				:icon="`fal fa-user-circle`"
			/> -->
			<img class="icon inline h-6" src="/icons/circle-user.svg" alt="" />

			Login</nuxt-link
		>
		<nuxt-link
			:to="localePath('account')"
			v-if="$store.state.auth.loggedIn"
			class="p-1"
		>
			<!-- <icon class="fa-xl text-black dark:text-gray-lightest" :icon="`fal fa-user-circle`" />  -->
			<img class="icon inline h-6" src="/icons/circle-user.svg" alt="" />
			Account</nuxt-link
		>
		<a
			v-if="$store.state.auth.loggedIn"
			href="#"
			class="p-1"
			v-html="`Logout`"
			@click="logOut"
		/>
	</div>
</template>

<script>
export default {
	name: "AuthMenu",
	methods: {
		async logOut() {
			await this.$store.dispatch(`auth/logout`);
		},
	},
};
</script>
