<template>
	<footer class="grid lg:grid-cols-3 gap-12 lg:gap-24 xl:gap-32 border-t border-gray-light mt-16 py-8 lg:py-16">
		<div class="legal row-start-2 lg:row-start-1">
			<h3 class="mb-4">Legal</h3>
			<p class="text-sm" v-html="`${dateString} ${$t('legalParliament')}`" />
			<p class="text-sm" v-html="$t('legalDatabase')" />
			<p class="text-sm" v-html="$t('legalContent')" />
			<p class="text-sm" v-html="`${$t('legalVoteLog')} 2019–${new Date().getFullYear()} VoteLog`" />
		</div>
		<div class="supporters row-start-1">
			<h3 class="mb-4">{{ $t("supporters") }}</h3>
			<div class="grid grid-cols-2 gap-x-16 gap-y-8 items-center p-4">
				<a v-for="supporter in supporters" :key="supporter.name" :href="supporter.url" target="_blank">
					<img :src="supporter.img" :alt="supporter.name" />
				</a>
			</div>
		</div>
		<div class="links">
			<p>Kontakt: <a :href="`mailto:${contactEmail}`" v-html="contactEmail" /></p>
			<a class="flex flex-row items-center" :href="gitLab.url" target="_blank">
				<img class="h-16" :src="gitLab.img" :alt="gitLab.name" /><span>{{ gitLab.name }}</span>
			</a>
		</div>
	</footer>
</template>

<script>
export default {
	name: "Footer",
	data() {
		return {
			supporters: [
				{
					name: `Prototype Fund Switzerland`,
					img: `https://opendata.ch/wordpress/files/2021/04/PTF-Logo-169.png`,
					url: `https://prototypefund.opendata.ch/`,
				},
				{
					name: `OpenData.ch`,
					img: `https://prototypefund.opendata.ch/files/2020/02/opendata-logo-schwarz-weiss.jpg`,
					url: `https://opendata.ch/`,
				},
				{
					name: `Stiftung Mercator Schweiz`,
					img: `https://prototypefund.opendata.ch/files/2022/01/Mercator_Logo_RGB.jpg`,
					url: `https://www.stiftung-mercator.ch/`,
				},
				{
					name: `Vercel`,
					img: `/powered-by-vercel.svg`,
					url: `https://vercel.com/?utm_source=VoteLog&utm_campaign=oss`,
				},
			],
			contactEmail: `mail@votelog.ch`,
			gitLab: {
				name: `VoteLog on GitLab`,
				url: `https://gitlab.com/votelog`,
				img: `https://about.gitlab.com/images/press/logo/svg/gitlab-icon-rgb.svg`,
			},
		};
	},
	computed: {
		dateString() {
			let date = new Date();
			return `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`;
		},
	},
};
</script>
