<template>
	<aside class="z-50">
		<div class="grid grid-flow-col items-center">
			<Logo class="w-48" />
			<button @click="toggleMenu" class="inverted border-none lg:hidden w-12 p-2 justify-self-end">
				<img class="icon h-8" :src="open ? '/icons/xmark.svg' : '/icons/bars.svg'" alt="" />
				<!-- <icon class="fa-2xl" :icon="open ? 'fal fa-times' : 'fal fa-bars'" /> -->
			</button>
		</div>
		<div
			class="grid gap-y-8 xl:gap-y-12 lg:mt-16 xl:mt-32 transition-all overflow-hidden lg:overflow-visible duration-500"
			:class="
				open
					? 'max-h-screen border-b border-gray-light lg:border-none'
					: 'max-h-0 lg:max-h-screen border-white lg:border-none'
			"
		>
			<PageNav class="mt-16" @click.native="open = false" />
			<AuthMenu @click.native="open = false" />
			<Options @click.native="open = false" />
			<ol class="mb-8" @click="toggleMenu">
				<li v-for="menuItem in metaMenu" :key="menuItem">
					<nuxt-link :to="localePath(menuItem)" v-html="$t(menuItem)" />
				</li>
			</ol>
		</div>
	</aside>
</template>

<script>
export default {
	name: "sidebar",
	data() {
		return {
			open: false,
			metaMenu: ["privacy", "imprint"],
		};
	},
	methods: {
		toggleMenu() {
			this.open = !this.open;
		},
	},
};
</script>
