<template>
	<div class="pt-16">
		<img src="https://picsum.photos/1280/720" />
		<br />
		<p class="font-bold">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
			Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
			ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
			fringilla vel, aliquet nec, vulputate eget, arcu.
		</p>

		<p>
			In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
			Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
			ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
			feugiat a, tellus.
		</p>

		<p>
			Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
			augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
			condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
			vel, luctus pulvinar, hendrerit id, lorem.
		</p>

		<p>
			Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis
			ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec
			sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida
			magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed,
			nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum
			ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi
		</p>
	</div>
</template>

<script>
export default {
	name: "organisations-slug-info",
	components: {},
	props: {
		slug: {
			type: String,
			required: true,
		},
		organisation: {
			type: Object,
			required: true,
		},
		ranking: {
			type: Object,
			required: true,
		},
	},
	head() {
		return {
			title: `${this.$t(`about`)} – ${this.organisation.name} – VoteLog`,
		};
	},
	nuxtI18n: {
		paths: {
			en: "/organisations/:slug/information",
			de: "/organisationen/:slug/information",
			fr: "/organisations/:slug/information",
			it: "/organizzazioni/:slug/informazione",
		},
	},
};
</script>

<style scoped></style>
