<template>
	<div class="org-votes pt-8">
		<h2 v-html="$t(`preferences`)" />
		<PreferencesList :organisationId="organisationId" :preferencesDetails="preferencesDetails" />
	</div>
</template>

<script>
import PreferencesList from "~/components/preferences/PreferencesList";
export default {
	name: "organisations-slug-preferences",
	components: {
		PreferencesList,
	},
	props: {
		slug: {
			type: String,
			required: true,
		},
		organisation: {
			type: Object,
			required: true,
		},
		ranking: {
			type: Object,
			required: true,
		},
	},
	async asyncData({ params, store }) {
		if (!store.state.init) await store.dispatch("init");
		const slug = params.slug;
		await store.dispatch("organisations/fetchOrganisation", slug);
		const organisation = store.getters["organisations/getOrganisationBySlug"](slug);
		const organisationId = organisation.id;
		await store.dispatch("preferences/fetchPreferencesDetails", { organisationId });
		const preferencesDetails = store.getters["preferences/getPreferencesDetails"](organisationId);
		return {
			organisationId,
			preferencesDetails,
		};
	},
	head() {
		return {
			title: `${this.$t(`preferences`)} – ${this.organisation.name} – VoteLog`,
		};
	},
	nuxtI18n: {
		paths: {
			en: "/organisations/:slug/preferences",
			de: "/organisationen/:slug/praeferenzen",
			fr: "/organisations/:slug/preferences",
			it: "/organizzazioni/:slug/preferenze",
		},
	},
};
</script>
